# editor cache
/.vscode
/.theia

# build cache
/build
*.egg-info/
*.pyc
*.pyi
*.so

# other
*.jpg
*.png
*.pdf
*.csv
.DS_Store
export.zip
# torch_ans build metadata (written by setup.py / dynamic build)
/torch_ans/_torch_build_version.py
